h1 {
  color: rgb(45, 45, 113);
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(160, 86, 28);
  padding-top: 5px;
  padding-bottom: 10px;
}

body {
  background-color: rgb(238, 247, 255);
  background-image: url("Wood.jpg");
  background-position: "center";
}

.box-size {
  height: 250px;
  width: 270px;
  padding-left: 10px;
  padding-top: px;
}

.text-style1 {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 20px;
}

.text-style2 {
  color: rgb(87, 52, 0);
  margin-top: 0px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 50px;
}

#goUpButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.goup{
  width: 100%;
}